[mysqld]
default_storage_engine=innodb
innodb_file_format=Barracuda
innodb_autoinc_lock_mode=2
innodb_file_per_table=1
innodb_doublewrite=1

log_bin=ON
binlog_format=ROW
wsrep_cluster_address="gcomm://192.168.77.21,192.168.77.22,192.168.77.23,192.168.77.24,192.168.77.25"
wsrep_node_address={{ ansible_eth1.ipv4.address }}
wsrep_provider="/usr/lib/libgalera_smm.so"
wsrep_on=1

bind_address=0.0.0.0

